@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #070703;
    --background: #ffffff;
    --primary: #6f6fb8;
    --secondary: #e9d3e9;
    --accent: #4f4fa1;
  }
  .dark {
    --text: #fcfcf8;
    --background: rgb(2 6 23);
    --primary: #474790;
    --secondary: #2c162c;
    --accent: #5e5eb0;
  }

  html {
    @apply dark:bg-background bg-background;
  }
}
